.project-container {
	width: 100%;
	padding: 80px 120px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

/* TITELS */
.project-header {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.project-index {
	font-family: "Josefin Sans", sans-serif;
	font-size: 7rem;
	font-weight: 200;
	margin: 0;
	color: black;
}

.project-title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 4rem;
	font-weight: 300;
	margin: 0;
	color: black;
	padding-left: 50px;
}

/* GRID */
.project-content {
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	gap: 80px;
	padding-left: 50px;
	background-color: red;
}

/* LINKER TEKST */
.project-text {
	font-family: "Afacad", sans-serif;
	font-size: 1rem;
	line-height: 1.45;
	max-width: 600px;
}

.project-poster {
	width: 30%;
	margin: 40px 0;
}

.project-button {
	background: none;
	border: 1px solid #000;
	padding: 10px 30px;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease;
}

.project-button:hover {
	background: black;
	color: white;
}

/* MOCKUPS (RECHTS) */
.project-mockups {
	position: relative;
}

.mockup {
	width: 50%;
	display: block;
}

.mockup.big {
	width: 40%;

}

.mockup.small {
	width: 45%;
	position: absolute;
	bottom: -80px;
	left: 150px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
	.project-container {
		padding: 40px;
	}

	.project-content {
		grid-template-columns: 1fr;
	}

	.mockup.big,
	.mockup.small {
		position: relative;
		margin: 0;
		width: 80%;
		left: 0;
	}

	.mockup.small {
		margin-top: 20px;
	}
}
